
#loading {
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
@keyframes spinner{
  0%{
    transform: rotate(0deg);
  }


  100%{
    transform: rotate(360deg);
  }
}
.loading-img {
  animation: spinner 1.5s linear infinite;
  width: 50%;
  color: #F30268 !important;
   position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
  transform: translate(-50%, -50%);
}

header {
  padding: 15px 0 1px;
  position: fixed ;
  z-index: 999;
  width: 100%;
  background: #ffffff74;
  // margin-top: -37vh;

  .social {
      display: flex;
      float: right;
      .network {
        text-align: center;
        color: #3d3c3c;
        margin-right: -10px;
        svg {
            font-size: 43px;
            &:first-child {
                margin-right: 5px;
            }
        }
      }
      p {
          color: #3d3c3c;
          border: 1px solid #707070;
          margin-bottom: 0;
          margin-left: 10px;
          padding: 7px 135px;
      }
  }

  ul.menu {
      display: flex;
      padding-left: 0;
      justify-content: space-between;
      width: 100%;
      padding: 10px 0 0 67px;
      margin-bottom: 0;
      li {
        p {
          margin-bottom: 5px;
          color: #3d3c3c;
        }
        .jp {
            font-size: 12px;
        }
      }
  }
  ul.sub_menu {
    width: 200px;
    position: absolute;
    padding: 0px 20px;
    background: rgba(194, 221, 203,0.6);
    display: none;
    z-index: 999;
  }
  .has_sub:hover {
    .sub_menu {
      display: block;
    }
  }
}

.footer {
  background-color: #A0BEBC;
  display: block;
  float: left;
  width: 100%;
  padding: 15px 0;
  ul.menu {
      display: flex;
      padding-left: 0;
      justify-content: space-between;
      li {
        p {
          margin-bottom: 5px;
        }
        .jp {
            font-size: 10px !important;
        }
      }
  }

  @media only screen and (max-width:1366px) and (min-width:1024px) {
    .footer-mobile{
      padding-left: 65px;
      li.padding-l{
        margin-left: -40px;
      }
    }
  }
  @media (min-width:1367px){
    .footer-mobile{
      padding-left: 120px;
      li.padding-l{
        margin-left: -40px;
      }
    }
  }
  @media (max-width:767px) {
    .footer-mobile, .inquiry{
        display: none !important;
    }
    .title{
      margin-top:5px !important;
    }
  }
  .footer-link{
    display: block;
    text-decoration: none;
  }
  .title {
      font-weight: 400;
      font-size: 18px !important;
      padding-top: 50px;
      text-align: center;
      position: relative;
      margin-bottom: 3px;
      margin-top: -30px;
      &:after {
        height: 1px;
        width: 30%;
        content: "";
        position: absolute;
        bottom: -5px;
        left: 35.1%;
        background: #fff;
      }
      @media (max-width:767px) {
        &:after {
          width: 88% !important;
          left: 6% !important;

        }
      }
  }
  .text {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 4px;
  }
  @media only screen and (max-width:768px) {
    .inquiry {
      width: 20% !important;
    }
  }
  @media (max-width:767px) {
    .inquiry {
        width: 42% !important;
    }
    .foooter-wrap-desktop{
      display: none;
    }
  }
  @media (min-width:768px) {
    .text {
        font-size: 14px !important;
    }
    .inquiry {
      font-size: 12px !important;
    }

    .footer-bg-mobile{
      display: none;
    }
  }


  .inquiry {
    color: #000;
    background: #fff;
    padding: 4px;
    width: 15%;
    text-align: center;
    margin: 20px auto 0;
    margin-bottom: -11px;
  }
  .phone {
    font-size: 20px !important;
    text-align: center;
    padding: 15px 0 0;
    margin-bottom: 3px;
  }
  .social {
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
    svg {
        font-size: 30px !important;
        &:first-child {
            margin-right: 5px;
        }
    }
    @media (max-width:767px) {
      svg{
        display: none;
      }
    }
  }
  .privacy {
      color: #fff;
      font-size: 12px !important;
      text-decoration: none;
      text-align: center;
      float: right;
      width: 100%;
      margin: 0 auto;
  }
  .copyright {
    font-size: 12px !important;
    text-align: center;
  }
}

.each_title {
    width: 18%;
    margin: 0 auto;
    position: relative;
    .title {
        font-size: 38px !important;
        color: #707770;
    }
    .divide-title{
        height: 1px;
        background: #878b87;
        margin-bottom: 10px;
    }
    .sub-title {
        position: absolute;
        right: 0;
        color: #585858;
        font-weight: 300;
        font-size: 14px !important;
    }
}

ul li{
  list-style:none;
  }